p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
    display: block;
}
.button-div{
    margin-top: 0;
    vertical-align: 70px;
    padding-left: 100px;
    width: 400px;
    height: 100px;
    display: inline-block;
}
.info-div
{
    height: 300px;
    width: 250px;
    display: inline-block;
    margin-right: 100px;
}
.div-col
{
    width: 100px;
    font-size: 28px;
    display: inline-block;
    vertical-align: center;
}

.picture
{
    vertical-align: 20px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.div-picture
{
    width: 100%;
    /* vertical-align:; */
    display: inline-block;
}
.name
{
    height: 50px;
    font-weight: bold;
}
.kind
{
    height: 50px;
    color: rgb(151, 145, 145);
}
.popular
{
    height: 50px;
    color: rgb(151, 145, 145)
}
.follow-button
{
    background-color: rgb(99, 166, 221);
    color: white;
    font-size: 28;
    border: none;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
