p {
    font-family: Arial;/*mọi thứ đều là kiểu arial */
    margin-top: 0px;
    margin-bottom: 0px;
} 

.ptit-title{
     /* kiểu chữ */
     font-family: 'Fuzzy Bubbles', cursive;
    font-size: 48px; /*cỡ chữ*/
    color: rgb(201, 11, 11);
    font-weight: bold; /*in đậm chữ; bold có thể thay = lighter...*/
    font-style: italic; /*in nghiêng */
    text-align: center; /*căn lề; left, right,...*/
}

.ptit-time{
    font-size: 16px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}

.ptit-author{
    font-size: 16px;
    color: rgb(96, 96, 96);
    margin-top: 30px;
    margin-bottom: 20px;
}

.ptit-information{
    font-size: 16px;
    color: rgb(96, 96, 96);
    width: 300px;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    
}

.ptit-text {
    margin-bottom: 50px;
    color:white;
    font-size: 16px;
    background-color: rgb(212, 23, 23);
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.ptit-link{
    cursor: pointer;
}
.ptit-link:hover{
    text-decoration: underline;
    
}
.ptit-link:active{
    font-weight: bold;
}