<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/Pay.css">
</head>

<body>
    <div id="header">
        <div class="header__logoshop">
            <img src="static/img/logoandbanner/logo.jpg" alt="">
        </div>
        <div class="header__navbar">
            <ul id = "role1">
                <a href="/Account">
                    <li><i class="fas fa-user"></i> Đăng Kí</li>
                </a>
                <a href="/Payment">
                    <li><i class="fas fa-money-bill"></i> Thanh Toán</li>
                </a>
                <a href="/Cart">
                    <li><i class="fas fa-cart-plus"></i> Giỏ Hàng</li>
                </a>
                <a href="/Login">
                    <li><i class="fas fa-lock"></i> Đăng Nhập</li>
            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="header__nav">
            <div class="header__nav__option">
                <ul id = "role">
                    <a href="/Home">
                        <li>Trang chủ</li>
                    </a>
                    <a href="/Shop">
                        <li>Shop</li>
                    </a>
                    <a href="/Contact">
                        <li>Liên Hệ</li>
                    </a>
                </ul>
            </div>
            <div class="header__nav__search">
                <form action="">
                    <input type="text" placeholder="Tìm Kiếm.." name="search" id="find" onkeyup="search()">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div id="container">
        <div class="container__tablepay">
            <table>
                <thead>
                    <tr>
                        <th class="hide">ID</th>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Đơn Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng Đơn Hàng</th>
                        <th>Tùy chọn</th>
                    </tr>
                    <thead>
                    <tbody id="cart">
                        <tr>
                            <th class="hide"> 1 </th>
                            <th>1</th>
                            <th>hoa</th>
                            <th>300</th>
                            <td>
                                <input type="number" value="2" min="1" max="100" class="quantity">
                            </td>
                            <th>600</th>
                            <td class="setupproduct">
                                <div class="editproduct">
                                    <input type="checkbox" name="example-checkbox" checked>
                                </div>
                                <div class="deleteproduct">
                                    Xóa
                                </div>
                                <div class="clear">
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="container__optionpay">
            <div class="container__optionpay__inforsale">
                <div class="container__optionpay__inforpay__text">
                    <input type="text" id="phone" placeholder="Số điện thoại" required>
                    <input type="text" id="address" placeholder="Địa chỉ" required>
                    <input type="text" id="total" onchange="update()" placeholder="Tổng Thanh Toán" required>
                </div>
                <div class="container__optionpay__inforpay__button">
                    <div href="/Payment"><input type="button" value="Đặt hàng" onclick="order()"></div>
                </div>
                <div class="clear">
                </div>


            </div>
        </div>
    </div>
</body>
<script src="/static/js/cart.js"></script>
<script src="./static/js/base.js"></script>

</html>