<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit User</h1>
    <div id="form">
        <label for="fullname" >FullName:</label>
        <input type="text" id="fullname" name="fullname" value=""><br><br>


        <label for="name" >Name:</label>
        <input type="text" id="name" name="name" value=""><br><br>

        <label for="email" >Email:</label>
        <input type="text" id="email" name="email" value=""><br><br>

        <button type="submit" onclick="sua()">Edit User</button>
    </div>

</body>
<script src="/static/js/editUser.js"></script>
</html>