<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quản lý tài khoản cá nhân</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/Me.css">
</head>

<body>
	<header>
		<div class="logo">
			<a href="/Home"> <img src="https://via.placeholder.com/150x50" alt="Logo"> </a>
		</div>
		<nav>
			<ul>
				<li><a href="/Home">Trang chủ</a></li>
				<li><a href="/Shop">Sản phẩm</a></li>
				<li><a href="/Cart">Giỏ hàng</a></li>
				<li><a href="/Cartment">Thanh toán</a></li>
				<li> <p onclick="Logout()"> Đăng xuất</p></li>
			</ul>
		</nav>
	</header>
	<main>
		<aside>
			<ul>
				<li><a href="/Me">Thông tin tài khoản</a></li>
				<li><a href="/History">Đơn hàng</a></li>
				<li><a href="/ChangePassword" >Đổi mật khẩu</a></li>
				<li><p onclick="Logout()">Đăng xuất</p> </li>
			</ul>
		</aside>
		<section id="me">
			<h1>Thông tin tài khoản</h1>
			<form >
				<label for="name">Họ tên:</label>
				<input type="text" id="name" name="name" required value="">

				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required value="">

				<input type="submit"  value="Lưu thông tin" onclick=""> 
			</form>
			
		</section>
	</main>
	<footer>
		<nav>
			<ul>
				<li><a href="#">Giới thiệu</a></li>
				<li><a href="/Contact">Liên hệ</a></li>
				<li><a href="#">Điều khoản sử dụng</a></li>
				<li><a href="#">Quy định bảo mật</a></li>
			</ul>
		</nav>
	</footer>
</body>
<script src="/static/js/me.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/js/logout.js"></script>
</html>
