<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/AddProduct.css">
</head>
<body>
    <div id="header">
        <div class="header__Content">
            <h1>Trang Admin</h1>
        </div>
        <div class="header__navbar">
            <ul >
                <li><i class="fas fa-envelope"></i></li>
                <li><i class="fas fa-bars"></i></li>
                <li><i class="fas fa-bell"></i></li>
                <li><i class="fas fa-user"></i></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div id="container">
        <div class="container__navbar">
            <div class="container__navbar__user">
                <div class="container__navbar__user__img">
                    <a href="/Home"> <img src="static/img/logoandbanner/logo.jpg" alt=""> </a>
                </div>
                <div class="container__navbar__user__infor">
                   <h1>Admin</h1>
                   <h2>Online</h2>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="container__navbar__search">
                <form action="">
                    <input type="text" placeholder="Tìm Kiếm.." name="search" id="find" onkeyup="search()">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="container__navbar__optionlist">
                <ul>
                    <a href="/ListProduct">
                        <li><i class="fab fa-product-hunt" class="container__navbar__optionlist__selected" ></i> Quản lí sản phẩm</li>
                    </a>
                    <a href="/ListUser">
                        <li><i class="fas fa-user"></i> Quản lí người dùng</li>
                    </a>
                    <a href="/ListType" >
                        <li><i class="fas fa-chart-bar"></i> Quản lí thể loại</li>
                    </a>
                    <a href="#">
                        <li><i class="fas fa-home"></i> Thống kê</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="container__content">
            <div class="container__content__optiontitle">
                <h1>Danh sách Sản Phẩm</h1>
            </div>
            <div class="container__content__optionbody">
                <div class="container__content__optionbody__header">                 
                </div>
                <div class="container__content__optionbody__content">
                    <div id="add-product-form">
                        <div class="input__ProductInfor">

                            <label for="name" id="name1">Name:</label>
                            <input type="text" id="name" name="name" required><br><br>
                    
                            <label for="code" id="code1">Code:</label>
                            <input type="text" id="code" name="code" required><br><br>
                    
                    
                            <label for="price" id="price1">Price:</label>
                            <input type="number" id="price" name="price" min="0" required><br><br>
                    
                            <label for="quatily" id="quatily1">Quantity:</label>
                            <input type="number" id="quatily" name="quatily" required><br><br>
                    
                            
                            <label for="status" id="status1">Trạng Thái:</label>
                            <input type="text" id="status" name="status" required><br><br>
                        </div>
                        <div class="input__ProductImg">

                            <div class="input__file">
                                <label for="">Image</label>
                                <div class="Change__inputFile">
                                    <img  alt="" >
                                    <input type="file"  class="input-file" accept="image/*" id="img">
                                </div>
                            </div>
                          
                        </div>
                        <div class="input__Category">
                            <div class="content__Category__input">
                                <label for="Type">Category</label>
                                <select id="Category">
                                    
                                  
                                </select>
                            </div>
                            <div class="content__Category">
                                <div class="CategoryList" id="CategoryList">
                                  
                               
                                </div>
                            </div>
                        </div>
                
                
                       
                
                    </div>
                </div>
                <div class="AddProduct" onclick="AddProduct()">
                    <div class="AddProduct__Add">
                        Thêm Sản Phẩm
                    </div>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</body>
<script src="/static/js/addProduct.js"></script>
</html>

