<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Product</h1>
    <div id="add-product-form">
        <label for="name" id="name1">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="code" id="code1">Code:</label>
        <input type="text" id="code" name="code" required><br><br>


        <label for="price" id="price1">Price:</label>
        <input type="number" id="price" name="price" min="0" required><br><br>

        <label for="quatily" id="quatily1">Quantity:</label>
        <input type="number" id="quatily" name="quatily" required><br><br>

        <label for="img" id="img1">Ảnh:</label>
        <input type="file" id="img"><br><br>

        <label for="status" id="status1">Trạng Thái:</label>
        <input type="text" id="status" name="status" required><br><br>


       

        <button type="submit" onclick="editProduct()">Add Product</button>
    </div>

</body>
<script src="/static/js/editProduct.js"></script>
</html>