<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="static/css/Home.css">
</head>
<body>
    <div id="header">
        <div class="header__logoshop">
            <img src="/static/img/logoandbanner/logo.jpg" alt="">
        </div>
        <div class="header__navbar">
            <ul id="role1">
                <a href="/Account">
                    <li><i class="fas fa-user"></i> Đăng Kí</li>
                </a>
                <a href="/Cartment">
                    <li><i class="fas fa-money-bill"></i> Thanh Toán</li>
                </a>
                <a href="/Cart">
                    <li><i class="fas fa-cart-plus"></i> Giỏ Hàng</li>
                </a>
                <a href="/Login">
                    <li><i class="fas fa-lock"></i> Đăng Nhập</li>
                </a>
            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="header__nav">
            <div class="header__nav__option">
                <ul id="role">
                    <a href="/Home">
                        <li>Trang chủ</li>
                    </a>
                    <a href="/Shop">
                        <li>Shop</li>
                    </a>
                    <a href="/Contact">
                        <li>Liên Hệ</li>
                    </a>
                </ul>
            </div>
            <div class="header__nav__search" >
                <div action="" onkeyup="search()">
                    <input type="text" placeholder="Tìm Kiếm.." name="search" id="find" >
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
   
    <div id="container">
        <div class="container__banner">
            <img src="/static/img/logoandbanner/banner Sunflower.png" alt="">
        </div>
        
            <div class="container__ListHot__Title">
                <h2> HOT </h2>
            </div>
            <ul class="container__ListHot" id="listHot">

                <li class="hi">
                    <div class="list__top__test">
                        <a href=""><img src="\\Media\\cuc(0).png" alt=""></a>
                    </div>
                    <div class="hai">
                        <h3 class="ba">anh</h3>
                    </div>
                </li>

                <li class="hi">
                    <div class="list__top__test">
                        <a href=""><img src="\\Media\\cuc(0).png" alt=""></a>
                    </div>
                    <div class="hai">
                        <h3 class="ba">ninh</h3>
                    </div>
                </li>

                <li class="hi">
                    <div class="list__top__test">
                        <a href=""><img src="\\Media\\cuc(0).png" alt=""></a>
                    </div>
                    <div class="hai">
                        <h3 class="ba">ninh</h3>
                    </div>
                </li>

                <li class="hi">
                    <div class="list__top__test">
                        <a href=""><img src="\\Media\\cuc(0).png" alt=""></a>
                    </div>
                    <div class="hai">
                        <h3 class="ba">ninh</h3>
                    </div>
                </li>

                <li class="hi">
                    <div class="list__top__test">
                        <a href=""><img src="\\Media\\cuc(0).png" alt=""></a>
                    </div>
                    <div class="hai">
                        <h3 class="ba">ninh</h3>
                    </div>
                </li>

                <li class="hi">
                    <div class="list__top__test">
                        <a href=""><img src="" alt=""></a>
                    </div>
                    <div class="hai">
                        <h3 class="ba">ninh</h3>
                    </div>
                </li>
            </ul>
    </div>
    <footer class="footer">
        <div class="footer__top">
          <div class="footer__top__item">
            <h4>About Us</h4>
            <p>We are a team of passionate designers and developers who love creating awesome websites for our clients. </p>
            <ul class="footer__social-icons">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="footer__top__item">
            <h4>Useful Links</h4>
            <ul class="footer__links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="footer__top__item">
            <h4>Contact Us</h4>
            <ul class="footer__contact">
              <li><i class="fas fa-map-marker-alt"></i>123 Main St, New York, NY 10001</li>
              <li><i class="fas fa-phone"></i>(123) 456-7890</li>
              <li><i class="fas fa-envelope"></i>info@example.com</li>
            </ul>
          </div>
        </div>
        <div class="footer__bottom">
          <p>&copy; 2023 Your Company. All Rights Reserved.</p>
        </div>
      </footer>
      
</body>
<script src="/static/js/base.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/logout.js"></script>
</html>
