<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="static/css/Account.css">
</head>
<body>
    <div id="header">
        <div class="header__logoshop">
            <img src="static/img/logoandbanner/logo.jpg" alt="">
        </div>
        <div class="header__navbar">
            <ul id="role1">
                <a href="/Account">
                    <li><i class="fas fa-user"></i> Đăng Kí</li>
                </a>
                <a href="/Cartment">
                    <li><i class="fas fa-money-bill"></i> Thanh Toán</li>
                </a>
                <a href="/Cart">
                    <li><i class="fas fa-cart-plus"></i> Giỏ Hàng</li>
                </a>
                <a href="/Login">
                    <li><i class="fas fa-lock"></i> Đăng Nhập</li>
            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="header__nav">
            <div class="header__nav__option">
                <ul id="role">
                    <a href="/Home">
                        <li>Trang chủ</li>
                    </a>
                    <a href="/Shop">
                        <li>Shop</li>
                    </a>
                    <a href="/Contact">
                        <li>Liên Hệ</li>
                    </a>
                </ul>
            </div>
            <div class="header__nav__search">
                <form action="">
                    <input type="text" placeholder="Tìm Kiếm.." name="search" id="find" onkeyup="search()">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div id="container">
        <div class="Signup__User">
                <div action="">
                    <div class="Signup__User__title" >
                        <h1>Đăng nhập tài khoản</h1>
                    </div>
                    <div class="Signup__User__form" >
                        <input type="text" id="username"  placeholder="Tên Đăng Nhập">
                        <input type="password" id="password"  placeholder="Mật Khẩu">
                    </div>
                    
                    <div class="Signup__User__button">
                        <input type="button" value="Đăng nhập" onclick="Login()">
                    </div>
                </div> 
                <div id="Error">
                    
                </div>           
        </div>
    </div>    
</body>
<script src="/static/js/login.js"></script>
<!-- <script src="/static/js/base.js"></script> -->
</html>