p{
    font-size: 20px;
    margin-left: 12px;
}
.a{
    width: 200px;
    object-fit: contain;
    border-radius: 20px;
    object-position: center;
}
.b{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;;
}
.c{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 120px;
    object-position: center;
}
.d{
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.e{
    border-radius: 30x;
    width: 300px;
    margin-bottom: 30px;
}
.c1{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    object-position: center;
    vertical-align: middle;
}
.text{
    vertical-align: middle;
}
.tweet-button
{
    background-color: rgb(62, 153, 238);
    color: white;
    height: 36px;
    width: 74px;
    border: none;
    border-style: bold;
    border-radius: 18px;
    border-width: 2px;
    margin-left: 200px;
    vertical-align: middle;
}